<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>blog.ru</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <h1>Форма обратной связи</h1>
    <form method="POST" action="/">
        <input type="text" name="name" placeholder="Имя" required><br>
        <input type="email" name="email" placeholder="Email" required><br>
        <textarea name="message" placeholder="Сообщение" required></textarea><br>
        <button type="submit">Отправить</button>
    </form>
</body>
</html>